<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>13.09607982635498</real>
		<key>long</key>
		<real>80.29160308837891</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Chennai Beach</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>12.97076034545898</real>
		<key>long</key>
		<real>80.21900939941406</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Velacherry</string>
	</dict>
</array>
</plist>
